<div class="contact">
    <a class="contact-item" href="mailto:dredhezaselimaj1@gmail.com" target="_blank"> <img class="icon-email" src="assets/email.png" alt="mail">dredhezaselimaj1@gmail.com</a>
    <a class="contact-item" href="https://www.linkedin.com/in/dredh%C3%ABza-selimaj-54a696162/" target="_blank"> <img class="icon-li" src="assets/in.png" alt="Facebook"> dredhëza-selimaj-54a696162</a>
    <a class="contact-item" href="https://github.com/dredheza" target="_blank"> <img class="icon-git" src="assets/github.png" alt="Linkedin"> github.com/dredheza </a>
</div>